/* General CSS for the table */
.RRScript{
    margin:0% 5% 3% 5%;
    font-family: 'Roboto Condensed';
    font-weight: 300;
}

/* Table header Styling */
thead{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight:400;
}

/* Search Box */
.RRPublish > div.ListControl > div.ListControlSearch > input{
    font-family: 'Roboto';
    font-size: 0.8em !important;
    font-weight:400;
}

/* Search Button */
.RRPublish > div.ListControl > div.ListControlSearch > button.btnSearch:disabled{
    font-family: 'Roboto';
}

/* Live Update text */
.RRPublish div.ListControl{
    font-family: 'Roboto';
}

/* Lines alternatevily colored */
#tb_1_1Data tr:nth-child(even){
    background-color: #f2f2f2;
}

/* Space every row */
#tb_1_1Data td, #tb_1_1Data th {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

/* Details Table font */
td{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
}

/* Details Table Titles */
table.divDetailsParent div.divDetailsInner {
    font-family: 'Roboto';
}

/* Hover on table */
#tb_1_1Data tr:hover {
    background-color: rgb(52, 51, 51);
    color: white;
}

/* H1 Styling */
h1{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    margin-top: 80px;
}

#first {
    margin-top: 150px;
}

#HomePage{
    color: rgb(52, 51, 51);
    font-family: 'Roboto';
    font-weight: 700;
    margin: 2% 0 0 5%;
    display: inline-block;
}

#back{
    color: rgb(52, 51, 51);
    font-family: 'Roboto';
    font-weight: 700;
    margin: 2% 0 0 5%;
    display: inline-block;
}

body{
	padding: 10px 20px 0px 20px;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
	background: #ECE9E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #f6f5f3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #f6f5f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Link */
a:link {
    color: rgb(52, 51, 51);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(52, 51, 51);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(190, 190, 5);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(52, 51, 51);
    background-color: transparent;
    text-decoration: underline;
  }

  div {
    margin-left: auto;
    margin-right: auto;
  }